extends ../layouts/common.pug
block content
	h1 Here you go
	a(href="/users/create") New users
	form(action="/users/search", method="GET")
		input(type="text", id="username", name="q")
		button(class="btn btn-primary") Search

	ul
		each user in users
			li
				span= user.name
				a(href="/users/" + user.id) View

	
		

