doctype html
html
	head
		title KnowledgePage
	body
		h1 Here you go
		a(href="/users/create") New users
		form(action="/users/search", method="GET")
			input(type="text", id="username", name="q")
			button Search

		ul
			each user in users
				li= user.name

	
		

